/*MAIN COMPONENT CSS*/

.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 50%;
}

.mainPic {
  height: 100%;
  width:50%;
}

.main {
  height: 100%;
  width: 100%;
  align-self: flex-start;
  overflow: hidden;
}

.mPhoto{
  height: 100%;
  width:100%;
  min-width: 712px;
}

.sidePics{
  height: 100%;
  width: 50%;
  display: grid;
  grid-template-columns: auto auto;
  grid-row: auto auto;
}

.side {
  height: 100%;
  overflow: hidden;
}


.sPhoto{
  height: 100%;
  width:100%;
  min-width: 350px;
}

.main img:hover {
  transform: scale(1.05);
}

.side img:hover {
  transform: scale(1.05)
}


/*BUTTON*/

.viewPhoto {
  position: absolute;
  top: 45%;
  left: 93%;
  border: none;
  border-radius: 3px;
  height: 25px;
}


/*SLIDER CSS*/

.slidePhoto {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider {
  position: relative;
  width: 640px;
  margin: 100px auto;
  height: 500px;
  overflow: hidden;
  white-space: nowrap;
}

.description {
  font-size: 1rem;
  margin-top: 10px;
}

.slider-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}

.slide {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.slidePic {
  height: 100%;
  width: 100%;
}

.backSlider{
  position: relative;
  left: 95%;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform ease-in .1s;
}

/*ARROW CSS*/

.arrow {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  transition: transformease-in .1s;
}

.nextArrow {
  position: absolute;
  top: 30%;
  right: 25px;
  z-index: 999;
  color: #000;
}

.backArrow {
  position: absolute;
  top: 30%;
  left: 25px;
  z-index: 999;
  color: #000;
}

